body {
    background-image: url("public/topography.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.Calculator {
    width: 300px;
    background: rgba(96, 95, 95, 0.356);
    border-radius: 3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(96, 95, 95, 1);
    padding: 20px 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#del-key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

#screen {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 100;
    height: 40px;
    justify-self: right;
    margin-bottom: 20px;
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
    color: #fff;
}

#del {
    grid-column: span 2;
    transition: background-color 0.3s;
}

#del:hover {
    background-color: #ff7a7a98; /* Change background color on hover */
}

#enter {
    transition: background-color 0.3s;
}

#enter:hover {
    background-color: #7effe998; /* Change background color on hover */
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    /* Variables */
    --button_radius: 1.5em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000b6;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.input {
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}
